body {
    background-color: #eeeeee;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

#tipLabel {
    color: #888888;
    font-size: 13px;
    height: 17px;
    align-content: end;
}

.commit-tip {
    line-height: 17px;
    float: right;
}

#btnGroupDrop1 {
    display: none;
}

.custom-file-label {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    font-size: 15px;
    font-style: italic;
}